* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #f1f3ff;
  position: relative;
  z-index: 99;
}

.container {
  background-color: #f1f3ff;
  height: 270px;
}

.box-image {
  width: 80px;
  height: 80px;
}

.header--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 10px; */
  /* padding: 20px 50px; */
  padding-left: 20px;
}

.logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
  margin-left: 50px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav--register {
  background-color: #5cb85f;
  border-radius: 2px;
  text-align: center;
}

.nav--register a {
  color: white;
}

.brc {
  display: none; /* display: none; */
}

.nav--color {
  background-color: #f1f3ff;
  border-bottom: 1px solid #e5e5e5;
}
.nav--ori {
  background-color: #f1f3ff;
}

.hero__section {
  display: flex;
  background-color: #f1f3ff;
  width: 100%;
  padding-left: 10px;
  margin-top: 70px;
}

.content__hero__section {
  margin-top: 80px;
  padding: 20px 50px;
}

.content__hero__section button {
  padding: 10px;
  display: inline-block;
  border: none;
  background-color: #5cb85f;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

main {
  padding: 50px;
}

#our__service {
  margin-bottom: 70px;
  margin: 0 auto;
}

.content__our__service {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.img__service {
  flex: 2;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.img__service img {
  height: 350px;
}

.content__our__service aside {
  flex: 2;
}

aside {
  padding: 30px;
  text-align: justify;
}

aside h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.check__list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: -33px;
}

.check__list li {
  list-style: none;
}

.card__why__us {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card-body h5 {
  font-weight: 700;
  margin-bottom: 10px;
}

.circle__card {
  background-color: #f9cc00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.w__card {
  width: 18rem;
}

.circle__card img {
  height: 20px;
}

#testi {
  margin: 40px 0px;
}

.title__testi {
  text-align: center;
}

.title__testi h1 {
  font-size: 25px;
}
.content__carou {
  background-color: #f1f3ff;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.star__carou {
  width: 60px;
  margin-bottom: 5px;
}

.content__carou__text h5 {
  font-size: 15px;
}

.testi__content {
  text-align: center;
}

.article-sewa {
  background-color: #0d28a6;
  height: 320px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 20px;
}
.article-sewa p {
  width: 50%;
  text-align: center;
}

.article-sewa button {
  border: none;
  width: 150px;
  height: 40px;
  background-color: #5cb85f;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

#faq {
  display: flex;
  margin-top: 60px;
}

.faq__title {
  flex: 3;
}

.faq__accord {
  flex: 5;
}

footer {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.second__footer ul li {
  list-style: none;
}
.second__footer ul li a {
  color: black;
  text-decoration: none;
}

.icon__footer {
  display: flex;
}

.circle__icon {
  background-color: #0d28a6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

.circle__icon img {
  height: 20px;
}

.rectangle__footer {
  background-color: #0d28a6;
  width: 100px;
  height: 35px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1140px) {
  .logo {
    margin-left: 10px;
  }
  .nav--register {
    width: 65%;
  }
  .brc {
    display: block;
    font-weight: 800;
  }

  .hero__section {
    flex-direction: column;
    width: 100%;
  }
  .image__hero__section img {
    height: 100%;
    width: 100%;
  }
  .image__bg__hero__section {
    top: 52px;
  }
  .content__hero__section {
    margin-top: 5px;
    padding: 10px;
  }
  .content__hero__section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  main {
    padding: 20px;
  }

  .content__our__service {
    display: block;
  }

  .img__service {
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 30px;
    text-align: center;
  }

  .img__service img {
    height: 300px;
  }
  aside {
    padding: 0;
  }
  aside h1 {
    text-align: left;
  }

  #why__us {
    margin-top: 20px;
  }

  .content__why__us {
    text-align: center;
  }

  .content__why__us h4 {
    font-size: 25px;
    font-weight: 700;
  }
  .card__why__us {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 20px;
  }

  .w__card {
    width: 100%;
  }

  .title__testi h1 {
    font-size: 25px;
    font-weight: 700;
  }

  .main__carou {
    flex-direction: column;
    height: 380px;
    border-radius: 10px;
  }
  .content__carou {
    background-color: #f1f3ff;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .star__carou {
    margin: 10px auto;
  }

  .content__carou__text h5 {
    font-size: 15px;
  }

  .article-sewa {
    height: 400px;
  }
  .article-sewa h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .article-sewa button {
    margin: 10px 0px;
  }

  footer {
    flex-direction: column;
    padding: 20px;
  }

  .second__footer ul {
    margin-left: -30px;
  }

  #faq {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
  }

  .faq__title {
    flex: 3;
    text-align: center;
  }

  .faq__title h4 {
    font-size: 25px;
    font-weight: 700;
  }

  .faq__accord {
    flex: 5;
  }
}
